/AdapterPattern/.vs
/AdapterPattern/AdapterPattern/obj
/AdapterPattern/AdapterPattern/bin
/AdapterPattern/packages
/.vs
/AdapterPattern/AdapterPattern/.vshistory
/Singleton/.vs
/Singleton/Singleton/obj
/AdapterPattern/AdapterPattern/Entities/.vshistory/Manufacturer.cs
/AdapterPattern/AdapterPattern/Interfaces/.vshistory/IManufacturerXmlToJsonAdapter.cs
/AdapterPattern/AdapterPattern/MakeBelieveExternalProvider/.vshistory
/AdapterPattern/AdapterPattern/Interfaces/.vshistory/ISomeXMLStandardForManufacturerListings.cs
